<div class="close">
  <i class="big close icon" onclick="$('.ui.modal').modal('hide');"></i>
</div>

<%= form_with(model: @invoice, local: true, html: {autocomplete: 'off'}) do |form| %>
  <div class="ui form">

    <h2 class="centered">
      <% if @invoice.id %>
        <%= t('editing_invoice') %>
      <% else %>
        <%= t('creating_invoice') %>
      <% end %>
    </h2>

    <div class="four fields">

      <div class="field">
        <%= form.label t('invoice_number') %>
        <%= form.collection_select :display_number, Invoice.all.order(display_number: :desc), :display_number, :display_number, {:include_blank => true}, {required: true, class: 'form-control', id: 'invoice_form_number'} %>
      </div>

      <div class="field">
        <%= form.label t('customer') %>
        <%= form.collection_select :customer_id, Customer.all, :id, :name, {:include_blank => true}, {required: true, class: 'form-control', id: 'invoice_form_customer'} %>
      </div>

      <div class="field">
        <%= form.label t('status') %>
        <%= form.select(:status, Invoice.translated_statuses.map {|status| [status[0], status[1]]}, {}, {class: 'form-control', autocomplete: 'nope'}) %>
      </div>

      <div class="field">
        <%= form.label t('date_locale') %>
        <div class="picker-container">
          <%= form.text_field :date, "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", value: @invoice.date ? l(@invoice.date) : Time.zone.now.to_date.strftime("%d/%m/%Y"), autocomplete: 'off', id: "dateProject", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label t('projects_done').pluralize %>
      <% if @invoice.id %>
        <%= form.select(:project_ids, Project.where(status: :quotation)
            .or(Project.where(invoice_id: @invoice.id))
            .collect {|project| [project.name, project.id, {customer: project.customer.id}]}, {}, {class: 'form-control', id: 'invoice_form_projects', autocomplete: 'nope', :multiple => true}) %>
      <% else %>
        <%= form.select(:project_ids, Project.where(status: :quotation)
            .collect {|project| [project.name, project.id, {customer: project.customer.id}]}, {}, {class: 'form-control', id: 'invoice_form_projects', autocomplete: 'nope', :multiple => true}) %>
      <% end %>
    </div>

    <div class="field centered">
      <%= form.submit t('create'), :class => "ui green button" %>
    </div>
  </div>
<% end %>
