<div class="pdf">
  <div id="container">
    <section id="memo">
      <div class="logo">
        <%= wicked_pdf_image_tag "logo_greday.png" %>
      </div>
      <div class="company-info">
        <div>THOMAS GREDAY</div>
        <span>Rue Pachlauw, 4</span>
        <br/>
        <span>4690 Wonck</span>
        <br/>
        <span>0479/26.44.17</span>
        <br/>
        <span>thomas.greday@gmail.com</span>
      </div>

    </section>

    <section id="client-info">
      <div>
        <span>
          <%= @invoice.customer.name %>
        </span>
      </div>
      <div>
        <span>
          <%= @invoice.customer.street.to_s + ', ' + @invoice.customer.number.to_s %>
        </span>
      </div>
      <div>
        <span>
          <%= @invoice.customer.cp.to_s + ' ' + @invoice.customer.locality %>
        </span>
      </div>
      <div>
        <span>
          <%= @invoice.customer.country %>
        </span>
      </div>

      <div>
              <span>
      <%= "TVA : " + @invoice.customer.tva_record %>
              </span>
      </div>
    </section>
    <div class="clearfix"></div>

    <section id="invoice-title-number">
      <span id="invoice-title">Facture</span>
      <div class="clearfix"></div>
      <span id="number">
        <h2>
          <%= '#' + @invoice.display_number.to_s %>
        </h2>
      </span>
      <div class="clearfix"></div>
    </section>

    <div class="clearfix"></div>
    <span id="dateInvoice">
          <%= "Wonck le, " + l(@invoice.date).to_s %>
    </span>
    <hr>

    <% if @invoice.projects.any? %>
      <% @invoice.projects.each do |project| %>
        <section id="items" class="project">
          <div class="avoidbreak">

            <div class="title-project-container">
              <h4 class="title-project">Projet #<%= project.id %> : <%= project.name %></h4>
            </div>
            <p><%= project.description %></p>
            <% if project.services.any? %>
              <h5>Prestations</h5>

              <table class="table table-hover table-striped avoidbreak">
                <thead class=thead-dark>
                <tr>
                  <th><%= t('Name') %></th>
                  <th><%= t('duration') %></th>
                  <th><%= t('hourly_rate') + ' (€)' %></th>
                  <th><%= t('tva_rate') + ' (%)' %></th>
                  <th><%= t('total_gross') + ' (€)' %></th>
                </tr>
                </thead>

                <tbody>
                <% project.services.each do |service| %>
                  <tr data-link="<%= edit_service_path service %>">
                    <td><%= service.name %></td>
                    <td><%= service.duration.strftime('%H:%M') %></td>
                    <td><%= service.hourly_rate %></td>
                    <td><%= service.tva_rate %></td>
                    <td><%= service.total_gross %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="avoidbreak">
            <% if project.wares.any? %>
              <h5>Marchandises</h5>

              <table class="table table-hover table-striped">
                <thead class=thead-dark>
                <tr>
                  <th><%= t('ware_name') %></th>
                  <th><%= t('Quantity') %></th>
                  <th><%= t('sell_price') + ' (€)' %></th>
                  <th><%= t('tva_rate') + ' (%)' %></th>
                  <th><%= t('total_gross') + ' (€)' %></th>
                </tr>
                </thead>

                <tbody>
                <% project.wares.each do |ware| %>
                  <tr data-link="<%= edit_ware_path ware %>">
                    <td><%= ware.ware_name %></td>
                    <td><%= ware.quantity %></td>
                    <td><%= ware.sell_price %></td>
                    <td><%= ware.tva_rate %></td>
                    <td><%= ware.total_gross %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="avoidbreak">
            <% if project.project_extra_lines.any? %>
              <h5><%= t('extra').pluralize %>
              </h5>

              <table class="table table-hover table-striped">
                <thead class=thead-dark>
                <tr>
                  <th><%= t('Name') %></th>
                  <th><%= t('unit') %></th>
                  <th><%= t('unit_price') + ' (€)' %></th>
                  <th><%= t('quantity') %></th>
                  <th><%= t('tva_rate') + ' (%)' %></th>
                  <th><%= t('total_gross') + ' (€)' %></th>
                </tr>
                </thead>

                <tbody>
                <% unless project.project_extra_lines.any? %>
                  <tr>
                    <td class="emptyTable" colspan="9">Aucune données à afficher</td>
                  </tr>
                <% end %>
                <% project.project_extra_lines.each do |project_extra_line| %>
                  <tr data-link="<%= edit_project_extra_line_path project_extra_line %>">
                    <td><%= project_extra_line.extra.name %></td>
                    <td><%= project_extra_line.extra.unit %></td>
                    <td><%= project_extra_line.extra.unit_price %></td>
                    <td><%= project_extra_line.quantity %></td>
                    <td><%= project_extra_line.extra.tva_rate %></td>
                    <td><%= project_extra_line.total_gross %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </section>

        <% if !(@invoice.projects.length == 1 && @invoice.wares.length == 0) %>
          <section id="sums" class="sums_project">
            <table cellpadding="0" cellspacing="0">
              <tr class="amount-total">
              <tr data-hide-on-quote="true">
                <th>Total TVA projet (€)</th>
                <td><%= number_with_precision (project.total - project.total_gross), :precision => 2 %></td>
              </tr>
              <th>TOTAL HT PROJET (€)</th>
              <td><%= number_with_precision project.total_gross, :precision => 2 %></td>
              </tr>
              <tr>
                <th><%= "TOTAL TTC PROJET (€)" %></th>
                <td><%= number_with_precision project.total, :precision => 2 %></td>

              </tr>
            </table>
          </section>
          <div class="clearfix"></div>
          <hr>
        <% end %>
      <% end %>
    <% end %>
    </section>
    <section id="items" class="wares avoidbreak">
      <% if @invoice.wares.any? %>
        <% if @invoice.projects.any? %>
          <div class="title-project-container">
            <h4 class="title-project">Comptoir</h4>
          </div>
        <% else %>
          <h4>Marchandises</h4>
        <% end %>
        <table class="table table-hover table-striped">
          <thead class=thead-dark>
          <tr>
            <th><%= t('ware_name') %></th>
            <th><%= t('Quantity') %></th>
            <th><%= t('sell_price') + ' (€)' %></th>
            <th><%= t('tva_rate') + ' (%)' %></th>
            <th><%= t('total_gross') + ' (€)' %></th>
          </tr>
          </thead>

          <tbody>
          <% @invoice.wares.each do |ware| %>
            <tr data-link="<%= edit_ware_path ware %>">
              <td><%= ware.ware_name %></td>
              <td><%= ware.quantity %></td>
              <td><%= ware.sell_price %></td>
              <td><%= ware.tva_rate %></td>
              <td><%= ware.total_gross %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </section>

    <section id="sums" class="avoidbreak">
      <div class="clearfix"></div>
      <table>
        <tr class="amount-total">
          <th>TOTAL HT (€)</th>
          <td><%= number_with_precision @invoice.total_gross, :precision => 2 %></td>
        </tr>
        <tr>
          <th>Total TVA (€)</th>
          <td><%= # noinspection RubyArgumentParentheses
                  number_with_precision (@invoice.total - @invoice.total_gross), :precision => 2 %></td>
        </tr>
        <tr>
          <th>TOTAL TTC (€)</th>
          <td class="invoice_total"><%= number_with_precision @invoice.total, :precision => 2 %></td>
        </tr>
      </table>
      <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
  </div>
</div>