<div class="pdf">
  <div id="container">
    <section id="memo">
      <div class="logo">
        <%= wicked_pdf_image_tag "plusview.png" %>
      </div>

      <div class="company-info">
        <div>
          <%= @company.name %>
        </div>
        <span>
          <%= @company.street %>
        </span>
        <br/>
        <span><%= @company.postcode %> <%= @company.locality %></span>
        <br/>
        <span><%= @company.phone %></span>
        <br/>
        <span><%= @company.email %></span>
      </div>

    </section>

    <section id="client-info">
      <div>
        <span>
          <%= @invoice.customer.name %>
        </span>
      </div>
      <div>
        <span>
          <%= @invoice.customer.street + ', ' + @invoice.customer.number.to_s %>
        </span>
      </div>
      <div>
        <span>
          <%= @invoice.customer.cp.to_s + ' ' + @invoice.customer.locality %>
        </span>
      </div>
      <div>
        <% if @invoice.customer.tva_record %>
        <span>
          <%= "TVA : " + @invoice.customer.tva_record %>
        </span>
        <% end %>
      </div>
    </section>

    <div class="clearfix"></div>

    <section id="invoice-title-number">
      <span id="invoice-title">Facture</span>
      <div class="clearfix"></div>
      <span id="number">
        <h2>
          <%= '#' + @invoice.display_number.to_s %>
        </h2>
      </span>
      <div class="clearfix"></div>
    </section>

    <div class="clearfix"></div>

    <span id="dateInvoice">
          <%= "Roclenge le, " + l(@invoice.date).to_s %>
    </span>

    <hr>

    <% if @invoice.projects.any? %>
      <% @invoice.projects.each do |project| %>
        <section id="items" class="project">
          <div class="avoidbreak">

            <div class="title-project-container">
              <h4 class="title-project">Projet #<%= project.id %> : <%= project.name %></h4>
            </div>
            <p><%= project.description %>
              <br>
              <%= t('PO') + ":" %>
              <%= project.po ? project.po : "/" %>
              <br>
              <%= t('applicant') + ":" %>
              <%= project.applicant ? project.applicant : "/" %>
            </p>
          </div>
          <div class="avoidbreak">
            <% if project.project_extra_lines.any? %>
              <h5><%= t('extra').pluralize %>
              </h5>

              <table class="table table-hover table-striped">
                <thead class=thead-dark>
                <tr>
                  <th class="name-cell"><%= t('Name') %></th>
                  <th class="quantity-cell"><%= t('quantity') %></th>
                  <th class="number-cell"><%= t('unit_price') + ' (€)' %></th>
                  <th class="number-cell"><%= t('tva_rate') + ' (%)' %></th>
                  <th class="number-cell"><%= t('total_gross') + ' (€)' %></th>
                </tr>
                </thead>

                <tbody>
                <% project.project_extra_lines.each do |project_extra_line| %>
                  <% if project_extra_line.is_manual %>
                    <tr>
                      <td class="name-cell"><%= project_extra_line.manual_name %></td>
                      <td class="quantity-cell"><%= project_extra_line.quantity.to_s + ' ' + project_extra_line.unit %></td>
                      <td class="number-cell"><%= number_with_precision project_extra_line.manual_price, :precision => 2 %></td>
                      <td class="number-cell"><%= number_with_precision project_extra_line.manual_vat, :precision => 2 %></td>
                      <td class="number-cell"><%= number_with_precision project_extra_line.total_gross, :precision => 2 %></td>
                    </tr>
                  <% else %>
                    <tr>
                      <td class="name-cell"><%= project_extra_line.extra.name %></td>
                      <td class="quantity-cell"><%= project_extra_line.quantity.to_s + ' ' + project_extra_line.extra.unit %></td>
                      <td class="number-cell"><%= number_with_precision project_extra_line.extra.unit_price, :precision => 2 %></td>
                      <td class="number-cell"><%= number_with_precision project_extra_line.extra.tva_rate, :precision => 2 %></td>
                      <td class="number-cell"><%= number_with_precision project_extra_line.total_gross, :precision => 2 %></td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </section>
        <% unless @invoice.projects.length == 1 && @invoice.wares.length == 0 %>
          <section id="sums" class="sums_project">
            <table cellpadding="0" cellspacing="0">
              <tr class="amount-total">
              <tr data-hide-on-quote="true">
                <th>Total TVA projet (€)</th>
                <td><%= number_with_precision (project.total - project.total_gross), :precision => 2 %></td>
              </tr>
              <th>TOTAL HT PROJET (€)</th>
              <td><%= number_with_precision project.total_gross, :precision => 2 %></td>
              </tr>
              <tr>
                <th><%= "TOTAL TTC PROJET (€)" %></th>
                <td><%= number_with_precision project.total, :precision => 2 %></td>

              </tr>
            </table>
          </section>
          <div class="clearfix"></div>
          <hr>
        <% end %>
      <% end %>
    <% end %>
    <section id="sums" class="avoidbreak">
      <div class="clearfix"></div>
      <table>
        <tr class="amount-total">
          <th>TOTAL HT (€)</th>
          <td><%= number_with_precision @invoice.total_gross, :precision => 2 %></td>
        </tr>
        <tr>
          <th>Total TVA (€)</th>
          <td><%= # noinspection RubyArgumentParentheses
                  number_with_precision (@invoice.total - @invoice.total_gross), :precision => 2 %></td>
        </tr>
        <tr>
          <th>TOTAL TTC (€)</th>
          <td class="invoice_total"><%= number_with_precision @invoice.total, :precision => 2 %></td>
        </tr>
      </table>
      <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
  </div>
</div>