<div class="invoice">

  <div id="container">
    <section id="memo">
      <!--      <div class="logo">-->
      <!--        <img data-logo="{company_logo}"/>-->
      <!--      </div>-->
      <div class="company-info">
        <div>THOMAS GREDAY</div>
        <br/>
        <span>Rue Pachlauw, 4</span>
        <br/>
        <span>4690 Wonck</span>
        <br/>
        <span>0479/26.44.17</span>
        <br/>
        <span>thomas.greday@gmail.com</span>
      </div>

    </section>

    <section id="invoice-title-number">

      <span id="title">Facture</span>
      <span id="number"><%= '#' + @invoice.id.to_s %></span>

    </section>

    <div class="clearfix"></div>

    <section id="client-info">
      <div>
        <span class="bold"></span>
      </div>

      <div>
        <span><%= @invoice.customer.name %></span>
      </div>

      <div>
        <span><%= @invoice.customer.street + ', ' + @invoice.customer.number.to_s %></span>
      </div>

      <div>
        <span><%= @invoice.customer.cp.to_s + ' ' + @invoice.customer.locality %></span>
      </div>

      <div>
        <span><%= @invoice.customer.mail %></span>
      </div>
    </section>

    <div class="clearfix"></div>

    <% if @invoice.projects.any? %>
      <% @invoice.projects.each do |project| %>
        <hr>
        <section id="items" class="project">
          <h4>Projet : <%= project.name %></h4>
          <% if project.services.any? %>
            <h5>Prestations</h5>

            <table class="table table-hover table-striped">
              <thead class=thead-dark>
              <tr>
                <th><%= t('Name') %></th>
                <th><%= t('Date') %></th>
                <th><%= t('Duration') %></th>
                <th><%= t('Hourly rate') %></th>
                <th><%= t('TVA rate') %></th>
                <th><%= t('Total gross') %></th>
                <th><%= t('Total cost') %></th>
              </tr>
              </thead>

              <tbody>
              <% project.services.each do |service| %>
                <tr data-link="<%= edit_service_path service %>">
                  <td><%= service.name %></td>
                  <td><%= service.date %></td>
                  <td><%= service.duration.strftime('%H:%M') %></td>
                  <td><%= service.hourly_rate %></td>
                  <td><%= service.tva_rate %></td>
                  <td><%= service.total_gross %></td>
                  <td><%= service.total_cost %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
          <% if project.wares.any? %>
            <h5>Marchandises</h5>

            <table class="table table-hover table-striped">
              <thead class=thead-dark>
              <tr>
                <th><%= t('Ware name') %></th>
                <th><%= t('TVA rate') %></th>
                <th><%= t('Total gross') %></th>
                <th><%= t('Total cost') %></th>
              </tr>
              </thead>

              <tbody>
              <% project.wares.each do |ware| %>
                <tr data-link="<%= edit_ware_path ware %>">
                  <td><%= ware.quantity.to_s + " " + ware.ware_name %></td>
                  <td><%= ware.tva_rate %></td>
                  <td><%= ware.total_gross %></td>
                  <td><%= ware.total_cost %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </section>
        <% if !(@invoice.projects.length == 1 && @invoice.wares.length == 0) %>
          <section id="sums" class="sums_project">
            <table cellpadding="0" cellspacing="0">
              <tr class="amount-total">
                <th>TOTAL HT</th>
                <td><%= project.total_gross %></td>
              </tr>
              <tr data-hide-on-quote="true">
                <th>Total TVA</th>
                <td><%= number_with_precision (project.total - project.total_gross), :precision => 2 %></td>
              </tr>
              <tr data-hide-on-quote="true">
                <th>TOTAL TTC</th>
                <td><%= project.total %></td>
              </tr>
            </table>
          </section>
          <div class="clearfix"></div>
          <hr>
        <% end %>
      <% end %>
    <% end %>
    </section>
    <section id="items" class="wares">
      <% if @invoice.wares.any? %>
        <% if @invoice.projects.any? %>
          <h4>Autre marchandises</h4>
        <% else %>
          <h4>Marchandises</h4>
        <% end %>
        <table class="table table-hover table-striped ">
          <thead class=thead-dark>
          <tr>
            <th><%= t('Ware name') %></th>
            <th><%= t('TVA rate') %></th>
            <th><%= t('Total gross') %></th>
            <th><%= t('Total cost') %></th>
          </tr>
          </thead>

          <tbody>
          <% @invoice.wares.each do |ware| %>
            <tr data-link="<%= edit_ware_path ware %>">
              <td><%= ware.quantity.to_s + " " + ware.ware_name %></td>
              <td><%= ware.tva_rate %></td>
              <td><%= ware.total_gross %></td>
              <td><%= ware.total_cost %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </section>
    <section id="sums">
      <hr>
      <div class="clearfix"></div>
      <table cellpadding="0" cellspacing="0">
        <tr class="amount-total">
          <th>TOTAL HT</th>
          <td><%= @invoice.total_gross %></td>
        </tr>
        <tr data-hide-on-quote="true">
          <th>Total TVA</th>
          <td><%= number_with_precision (@invoice.total - @invoice.total_gross), :precision => 2 %></td>
        </tr>
        <tr data-hide-on-quote="true">
          <th>TOTAL TTC</th>
          <td><%= @invoice.total %></td>
        </tr>
      </table>
      <div class="clearfix"></div>
    </section>
  </div>
</div>