<div class="close">
  <i class="big close icon" onclick="$('.ui.modal').modal('hide');"></i>
</div>

<%= form_with(model: @customer, local: true, html: {autocomplete: 'off'}) do |form| %>
  <input autocomplete="false" name="hidden" type="text" style="display:none;">
  <div class="ui form">

    <h2 class="centered">
      <% if @customer.id %>
        <%= t('editing_customers') %>
      <% else %>
        <%= t('creating_customers') %>
      <% end %>
    </h2>

    <div class="three fields">
      <div class="field">
        <%= form.label t('Name') %>
        <%= form.text_field :name, class: "form-control", onkeyup: "javascript:capitalize(this.id, this.value);", autocomplete: 'nope' %>
      </div>

      <div class="field">
        <%= form.label t('mail') %>
        <%= form.text_field :mail, class: "form-control", autocomplete: 'nope' %>
      </div>

      <div class="field">
        <%= form.label t('tva_record') %>
        <%= form.text_field :tva_record, class: "form-control", autocomplete: 'nope' %>
      </div>

    </div>

    <div class="three fields">
      <div class="field">
        <%= form.label t('phone_number') %>
        <%= form.text_field :phone_number, class: "form-control", autocomplete: 'nope' %>
      </div>


      <div class="field">
        <%= form.label t('street') %>
        <%= form.text_field :street, class: "form-control", onkeyup: "javascript:capitalize(this.id, this.value);", autocomplete: 'nope' %>
      </div>

      <div class="field">
        <%= form.label t('number') %>
        <%= form.text_field :number, class: "form-control", autocomplete: 'nope' %>
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        <%= form.label t('zip') %>
        <%= form.number_field :cp, class: "form-control", autocomplete: 'nope' %>
      </div>

      <div class="field">
        <%= form.label t('locality') %>
        <%= form.text_field :locality, class: "form-control", onkeyup: "javascript:capitalize(this.id, this.value);", autocomplete: 'nope' %>
      </div>

      <div class="field">
        <%= form.label t('country') %>
        <%= form.text_field :country, value: @customer.country || "Belgique", class: "form-control", onkeyup: "javascript:capitalize(this.id, this.value);", autocomplete: 'nope' %>
      </div>
    </div>

    <div class="field">
      <%= form.submit t('create'), :class => "ui green button" %>
    </div>
  </div>
<% end %>