<h2>Clients</h2>

<%= render 'customers/new' %>

<h5>Listing</h5>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>Tva record</th>
      <th>Street</th>
      <th>Number</th>
      <th>Cp</th>
      <th>Locality</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr data-link="<%= edit_customer_path customer %>">
        <td><%= customer.name %></td>
        <td><%= customer.mail %></td>
        <td><%= customer.tva_record %></td>
        <td><%= customer.street %></td>
        <td><%= customer.number %></td>
        <td><%= customer.cp %></td>
        <td><%= customer.locality %></td>
        <td><%= customer.country %></td>
        <td>
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">
            <%= link_to 'X', customer, method: :delete, data: {confirm: 'Are you sure?'} %>
          </span>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
