<%= search_form_for @search do |form| %>
  <div class="ui form">
    <div class="six fields">
      <div class="two wide field add-button">
        <%= link_to t('create_new_customer'), new_customer_path, {class: 'ui violet button', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
      </div>

      <div class="field">
          <%= form.label t('Name') %>
          <%= form.select :name_eq, Customer.pluck(:name), {:include_blank => t('all_customer_names')}, {class: 'form-control', id: 'customer_form_name', onchange: 'this.form.submit();'} %>
        </div>

        <div class="field">
          <%= form.label t('locality') %>
          <%= form.select :locality_eq, Customer.distinct.order(:locality).pluck(:locality), {:include_blank => t('all_customer_localities')}, {class: 'form-control', id: 'customer_form_locality', onchange: 'this.form.submit();'} %>
        </div>

      </div>
    </div>
<% end %>

<table class="ui striped selectable violet table table-to-color">
  <thead class=thead-dark>
  <tr>
    <th>
      <%= sort_link(@search, :name, t('customer_name')) %>
    </th>
    <th>
      <%= sort_link(@search, :mail, t('mail')) %>
    </th>
    <th>
      <%= sort_link(@search, :tva_record, t('tva_record')) %>
    </th>
    <th>
      <%= sort_link(@search, :phone_number, t('phone_number')) %>
    </th>
    <th>
      <%= sort_link(@search, :street, t('street')) %>
    </th>
    <th>
      <%= sort_link(@search, :number, t('number')) %>
    </th>
    <th>
      <%= sort_link(@search, :cp, t('zip')) %>
    </th>
    <th>
      <%= sort_link(@search, :locality, t('locality')) %>
    </th>
    <th>
      <%= sort_link(@search, :country, t('country')) %>
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% unless @customers.any? %>
    <tr>
      <td class="emptyTable" colspan="9">Aucune données à afficher</td>
    </tr>
  <% end %>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.mail %></td>
      <td><%= customer.tva_record %></td>
      <td><%= customer.phone_number %></td>
      <td><%= customer.street %></td>
      <td><%= customer.number %></td>
      <td><%= customer.cp %></td>
      <td><%= customer.locality %></td>
      <td><%= customer.country %></td>
      <td class="center aligned">
        <%= link_to edit_customer_path(customer), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to customer, method: :delete, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @customers %>


<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>

