<h2>Clients</h2>

<%= render 'customers/new' %>

<hr>

<h5>Listing</h5>

<table class="table table-hover table-striped">
  <thead class=thead-dark>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Mail') %></th>
      <th><%= t('TVA record') %></th>
      <th><%= t('Street') %></th>
      <th><%= t('Number') %></th>
      <th><%= t('Cp') %></th>
      <th><%= t('Locality') %></th>
      <th><%= t('Country') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr data-link="<%= edit_customer_path customer %>">
        <td><%= customer.name %></td>
        <td><%= customer.mail %></td>
        <td><%= customer.tva_record %></td>
        <td><%= customer.street %></td>
        <td><%= customer.number %></td>
        <td><%= customer.cp %></td>
        <td><%= customer.locality %></td>
        <td><%= customer.country %></td>
        <td>
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">
            <%= link_to 'X', customer, method: :delete, data: {confirm: 'Are you sure?'} %>
          </span>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
