<%= form_with(model: @quotation, local: true, html: {autocomplete: 'off'}) do |form| %>
  <div class="ui form">

    <h2 class="centered">
      <% if @quotation.id %>
        <%= t('editing_quotation') %>
      <% else %>
        <%= t('creating_quotation') %>
      <% end %>
    </h2>

    <div class="three fields">

      <div class="field">
        <%= form.label t('customer') %>
        <%= form.collection_select :customer_id, Customer.all, :id, :name, {:include_blank => true}, {required: true, class: 'form-control', id: 'quotation_form_customer'} %>
      </div>

      <div class="field">
        <%= form.label t('status') %>
        <%= form.select(:status, Quotation.translated_statuses.map { |status| [status[0], status[1]] }, {}, {class: 'form-control', id: "quotation_status", autocomplete: 'nope'}) %>
      </div>

      <div class="field">
        <%= form.label t('date_locale') %>
        <div class="picker-container">
          <%= form.text_field :date, "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", value: @quotation.date ? l(@quotation.date) : Time.zone.now.to_date.strftime("%d/%m/%Y"), autocomplete: 'off', id: "dateProject", class: "form-control" %>
        </div>
      </div>

    </div>

    <div class="field">

      <div class="centered">
        <%= form.submit t('create'), :class => "ui green button" %>
      </div>
    </div>
  </div>
<% end %>

<div class="close">
  <button class="ui red button" onclick="$('.ui.modal').modal('hide');">
    Annuler
  </button>
</div>