<div class="pdf">
  <div id="container">
    <section id="memo">
      <div class="logo">
        <%= wicked_pdf_image_tag "plusview.png" %>
      </div>

      <div class="company-info">
        <div>
          <%= @company.name %>
        </div>
        <span>
          <%= @company.street %>
        </span>
        <br/>
        <span><%= @company.postcode %> <%= @company.locality %></span>
        <br/>
        <span><%= @company.phone %></span>
        <br/>
        <span><%= @company.email %></span>
      </div>

    </section>

    <section id="client-info">
      <div>
        <span>
          <%= @project.customer.name %>
        </span>
      </div>
      <div>
        <span>
          <%= @project.customer.street + ', ' + @project.customer.number.to_s %>
        </span>
      </div>
      <div>
        <span>
          <%= @project.customer.cp.to_s + ' ' + @project.customer.locality %>
        </span>
      </div>
      <div>
        <% if @project.customer.tva_record %>
        <span>
          <%= "TVA : " + @project.customer.tva_record %>
        </span>
        <% end %>
      </div>
    </section>
    <div class="clearfix"></div>

    <section id="invoice-title-number">
      <span id="quotation-title">Devis</span>
      <div class="clearfix"></div>
      <span id="quotation-number">
      <h2>
          <%= '#' + @project.id.to_s %>
      </h2>
      </span>
      <div class="clearfix"></div>
    </section>


    <div class="clearfix"></div>
    <span id="dateInvoice">
          <%= "Wonck le, " + l(@project.date).to_s %>
    </span>
    <hr>

    <% if @project %>
      <section id="items" class="project">
        <div class="avoidbreak">
          <% if @project.project_extra_lines.any? %>
            <h5><%= t('extra').pluralize %>
            </h5>

            <table class="table table-hover table-striped">
              <thead class=thead-dark>
              <tr>
                <th class="name-cell"><%= t('Name') %></th>
                <th class="quantity-cell"><%= t('quantity') %></th>
                <th class="number-cell"><%= t('unit_price') + ' (€)' %></th>
                <th class="number-cell"><%= t('tva_rate') + ' (%)' %></th>
                <th class="number-cell"><%= t('total_gross') + ' (€)' %></th>
              </tr>
              </thead>

              <tbody>
              <% unless @project.project_extra_lines.any? %>
                <tr>
                  <td class="emptyTable" colspan="9">Aucune données à afficher</td>
                </tr>
              <% end %>
              <% @project.project_extra_lines.each do |project_extra_line| %>
                <tr>
                  <td class="name-cell"><%= project_extra_line.extra.name %></td>
                  <td class="quantity-cell"><%= project_extra_line.quantity.to_s + ' ' + project_extra_line.extra.unit %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.extra.unit_price, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.extra.tva_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.total_gross, :precision => 2 %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </section>
    <% end %>

    <section id="sums" class="avoidbreak">
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <table>
        <tr class="amount-total">
          <th>TOTAL HT (€)</th>
          <td><%= number_with_precision @project.total_gross, :precision => 2 %></td>
        </tr>
        <tr data-hide-on-quote="true">
          <th>Total TVA (€)</th>
          <td><%= # noinspection RubyArgumentParentheses
                  number_with_precision (@project.total - @project.total_gross), :precision => 2 %></td>
        </tr>
        <tr data-hide-on-quote="true">
          <th>TOTAL TTC (€)</th>
          <td><%= number_with_precision @project.total, :precision => 2 %></td>
        </tr>
      </table>
      <div class="clearfix"></div>
    </section>
    <!--    <section id="notes">-->
    <!--      <h5>-->
    <!--        Les paiements se feront au compte BNP Fortis : <b>BE47 0015 7715 0480</b>-->
    <!--      </h5>-->
    <!--      <p>-->
    <!--        1) Le montant de la facture est payable dans les 8 jours. </br>-->
    <!--        2) Toute réclamation devra être formulée au plus tard dans les huit jours de la réception par lettre-->
    <!--        recommandée.</br>-->
    <!--        3) En cas de retard de paiement, un intérêt de 1% par mois est dû de plein droit, ainsi qu'une indemnité égale à-->
    <!--        15% du montant de la facture avec un minimum de 50€, sans sommation ni mise en demeure.</br>-->
    <!--        4) Pour tous litiges, seuls les tribunaux de Liège sont compétents.-->
    <!--      </p>-->
    <!--    </section>-->
  </div>
</div>