<div class="pdf">
  <div id="container">
    <section id="memo">
      <div class="logo">
        <%= wicked_pdf_image_tag "logo_greday.png" %>
      </div>
      <div class="company-info">
        <div>THOMAS GREDAY</div>
        <span>Rue Pachlauw, 4</span>
        <br/>
        <span>4690 Wonck</span>
        <br/>
        <span>0479/26.44.17</span>
        <br/>
        <span>thomas.greday@gmail.com</span>
      </div>

    </section>

    <section id="client-info">
      <div>
        <span>
          <%= @quotation.customer.name %>
        </span>
      </div>
      <div>
        <span>
          <%= @quotation.customer.street + ', ' + @quotation.customer.number.to_s %>
        </span>
      </div>
      <div>
        <span>
          <%= @quotation.customer.cp.to_s + ' ' + @quotation.customer.locality %>
        </span>
      </div>
      <div>
        <% if @quotation.customer.tva_record %>
        <span>
          <%= "TVA : " + @quotation.customer.tva_record %>
        </span>
        <% end %>
      </div>
    </section>
    <div class="clearfix"></div>

    <section id="invoice-title-number">
      <span id="quotation-title">Devis</span>
      <div class="clearfix"></div>
      <span id="quotation-number">
      <h2>
          <%= '#' + @quotation.id.to_s %>
      </h2>
      </span>
      <div class="clearfix"></div>
    </section>


    <div class="clearfix"></div>
    <span id="dateInvoice">
          <%= "Wonck le, " + l(@quotation.date).to_s %>
    </span>
    <hr>

    <% if @quotation.project %>
      <section id="items" class="project">
        <div class="avoidbreak">

          <div class="title-project-container">
            <h4 class="title-project">Projet #<%= @quotation.project.id %> : <%= @quotation.project.name %></h4>
          </div>
          <p><%= @quotation.project.description %></p>
          <% if @quotation.project.services.any? %>
            <h5>Prestations</h5>

            <table class="table table-hover table-striped avoidbreak">
              <thead class=thead-dark>
              <tr>
                <th class="name-cell"><%= t('Name') %></th>
                <th class="quantity-cell"><%= t('duration') %></th>
                <th class="number-cell"><%= t('hourly_rate') + ' (€)' %></th>
                <th class="number-cell"><%= t('tva_rate') + ' (%)' %></th>
                <th class="number-cell"><%= t('total_gross') + ' (€)' %></th>
              </tr>
              </thead>

              <tbody>
              <% @quotation.project.services.each do |service| %>
                <tr>
                  <td class="name-cell"><%= service.name %></td>
                  <td class="quantity-cell"><%= service.duration.strftime('%H:%M') %></td>
                  <td class="number-cell"><%= number_with_precision service.hourly_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision service.tva_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision service.total_gross, :precision => 2 %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class="avoidbreak">
          <% if @quotation.project.wares.any? %>
            <h5>Marchandises</h5>

            <table class="table table-hover table-striped">
              <thead class=thead-dark>
              <tr>
                <th class="name-cell"><%= t('ware_name') %></th>
                <th class="quantity-cell"><%= t('Quantity') %></th>
                <th class="number-cell"><%= t('sell_price') + ' (€)' %></th>
                <th class="number-cell"><%= t('tva_rate') + ' (%)' %></th>
                <th class="number-cell"><%= t('total_gross') + ' (€)' %></th>
              </tr>
              </thead>

              <tbody>
              <% @quotation.project.wares.each do |ware| %>
                <tr>
                  <td class="name-cell"><%= ware.ware_name %></td>
                  <td class="quantity-cell"><%= ware.quantity %></td>
                  <td class="number-cell"><%= number_with_precision ware.sell_price, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision ware.tva_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision ware.total_gross, :precision => 2 %></td>
                </tr>
                <% if ware.show_desc_quot %>
                  <tr>
                    <td colspan="5">
                      <%= simple_format(ware.comment) %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class="avoidbreak">
          <% if @quotation.project.project_extra_lines.any? %>
            <h5><%= t('extra').pluralize %>
            </h5>

            <table class="table table-hover table-striped">
              <thead class=thead-dark>
              <tr>
                <th class="name-cell"><%= t('Name') %></th>
                <th class="quantity-cell"><%= t('quantity') %></th>
                <th class="number-cell"><%= t('unit_price') + ' (€)' %></th>
                <th class="number-cell"><%= t('tva_rate') + ' (%)' %></th>
                <th class="number-cell"><%= t('total_gross') + ' (€)' %></th>
              </tr>
              </thead>

              <tbody>
              <% unless @quotation.project.project_extra_lines.any? %>
                <tr>
                  <td class="emptyTable" colspan="9">Aucune données à afficher</td>
                </tr>
              <% end %>
              <% @quotation.project.project_extra_lines.each do |project_extra_line| %>
                <tr>
                  <td class="name-cell"><%= project_extra_line.extra.name %></td>
                  <td class="quantity-cell"><%= project_extra_line.quantity.to_s + ' ' + project_extra_line.extra.unit %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.extra.unit_price, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.extra.tva_rate, :precision => 2 %></td>
                  <td class="number-cell"><%= number_with_precision project_extra_line.total_gross, :precision => 2 %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </section>
    <% end %>

    <section id="sums" class="avoidbreak">
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <table>
        <tr class="amount-total">
          <th>TOTAL HT (€)</th>
          <td><%= number_with_precision @quotation.total_gross, :precision => 2 %></td>
        </tr>
        <tr data-hide-on-quote="true">
          <th>Total TVA (€)</th>
          <td><%= # noinspection RubyArgumentParentheses
                  number_with_precision (@quotation.total - @quotation.total_gross), :precision => 2 %></td>
        </tr>
        <tr data-hide-on-quote="true">
          <th>TOTAL TTC (€)</th>
          <td><%= number_with_precision @quotation.total, :precision => 2 %></td>
        </tr>
      </table>
      <div class="clearfix"></div>
    </section>
    <!--    <section id="notes">-->
    <!--      <h5>-->
    <!--        Les paiements se feront au compte BNP Fortis : <b>BE47 0015 7715 0480</b>-->
    <!--      </h5>-->
    <!--      <p>-->
    <!--        1) Le montant de la facture est payable dans les 8 jours. </br>-->
    <!--        2) Toute réclamation devra être formulée au plus tard dans les huit jours de la réception par lettre-->
    <!--        recommandée.</br>-->
    <!--        3) En cas de retard de paiement, un intérêt de 1% par mois est dû de plein droit, ainsi qu'une indemnité égale à-->
    <!--        15% du montant de la facture avec un minimum de 50€, sans sommation ni mise en demeure.</br>-->
    <!--        4) Pour tous litiges, seuls les tribunaux de Liège sont compétents.-->
    <!--      </p>-->
    <!--    </section>-->
  </div>
</div>