<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id %>
  </div>

  <div class="field">
    <%= form.label :quotation_id %>
    <%= form.text_field :quotation_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :wielding %>
    <%= form.number_field :wielding %>
  </div>

  <div class="field">
    <%= form.label :machining %>
    <%= form.number_field :machining %>
  </div>

  <div class="field">
    <%= form.label :karcher %>
    <%= form.number_field :karcher %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
