<div class="close">
  <i class="big close icon" onclick="$('.ui.modal').modal('hide');"></i>
</div>

<%= form_with(model: @project, local: true) do |form| %>
  <div class="ui form">

    <h2 class="centered">
      <% if @project.id %>
        <%= t('editing_project') %>
      <% else %>
        <%= t('creating_project') %>
      <% end %>
    </h2>

    <div class="four fields">

      <div class="field">
        <%= form.label t('customer'), class: ''%>
        <%= form.collection_select :customer_id, Customer.all, :id, :name, {:include_blank => true}, {class: 'form-control', id: 'project_form_customer'} %>
      </div>
      <div class="field">
        <%= form.label t('status') %>
        <%= form.select :status, Project.translated_statuses.map { |status| [status[0], status[1]] }, {:include_blank => true}, {class: 'form-control', id: 'status_edit_select'} %>
      </div>

      <div class="field">
        <%= form.label t('date_locale') %>
        <div class="input-group mb-3">
          <%= form.text_field :date, "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", value: @project.date ? l(@project.date) : Time.zone.now.to_date.strftime("%d/%m/%Y"), autocomplete: 'off', id: "dateProject", class: "form-control" %>

        </div>
      </div>

      <div class="field">
        <%= form.label t('Name') %>
        <%= form.text_field :name, class: "form-control", onkeyup: "javascript:capitalize(this.id, this.value);", :required => true, autocomplete: 'nope' %>
      </div>
    </div>

    <hr>
    <div class="field">
      <%= form.label t('description') %>
      <%= form.text_area :description, rows: "5", class: "form-control", onkeyup: "javascript:capitalize(this.id, this.value);", autocomplete: 'nope' %>
    </div>

    <div class="field">

      <div class="centered">
        <%= form.submit t('create'), :class => "ui green button",
                        data:
                            if @project
                              if @project.invoice
                                {confirm: t('project_already_invoiced')}
                              elsif @project.translated_status == "Terminé"
                                {confirm: t('project_ready_invoiced')}
                              end
                            elsif {}
                            end %>
      </div>
    </div>
  </div>
<% end %>
