<button type="button" class="close" data-dismiss="modal">
  <span aria-hidden="true">&times;</span>
</button>

<%= form_with(model: @project, local: true, class: "needs-validation") do |form| %>
  <div class="form center-div">

    <% if @project.id %>
      <h3><%= t('editing_project') %></h3>
    <% else %>
      <h3><%= t('creating_project') %></h3>
    <% end %>

    <div class="form-row">

      <div class="form-group col-xs-12 col-sm-4 col-md-12 col-lg-3 col-xl-3">
        <%= form.label t('customer') %>
        <%= form.collection_select :customer_id, Customer.all, :id, :name, {:include_blank => true}, {class: 'form-control', id: 'project_form_customer'} %>
      </div>
      <div class="form-group col-xs-12 col-sm-4 col-md-12 col-lg-3 col-xl-3">
        <%= form.label t('status') %>
        <%= form.select :status, Project.translated_statuses.map {|status| [status[0], status[1]]}, {:include_blank => true}, {class: 'form-control', id: 'status_edit_select'} %>
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-12 col-lg-3 col-xl-3">
        <%= form.label t('date_locale') %>
        <div class="input-group mb-3">
          <%= form.text_field :date, "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", value: Time.zone.now.to_date.strftime("%d/%m/%Y"), autocomplete: 'off', id: "dateProject", class: "form-control" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <%= fa_icon "calendar" %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-xs-12 col-sm-4 col-md-12 col-lg-3 col-xl-3">
        <%= form.label t('Name') %>
        <%= form.text_field :name, class: "form-control", :required => true, autocomplete: 'nope' %>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
    </div>

    <hr>
    <div class="form-row">
      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-12">
        <%= form.label t('description') %>
        <%= form.text_area :description, rows: "5", class: "form-control", autocomplete: 'nope' %>
      </div>
    </div>

    <div class="form-row">

      <div class="col-12 createButton">
        <%= form.submit t('create'), :class => "btn btn-dark form-group",
                        data:
                            if @project
                              if @project.invoice
                                {confirm: t('project_already_invoiced')}
                              elsif @project.translated_status == "Terminé"
                                {confirm: t('project_ready_invoiced')}
                              end
                            elsif {}
                            end %>
      </div>
    </div>
  </div>
<% end %>
