<h2 id="titleBadge"><%= t('project') %></h2>
<h4>
  <%= @project.name %> - <%= if @project.customer
                               @project.customer.name
                             end
%>
</h4>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" data-toggle="tab" href="#content" role="tab">Contenu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#edit" role="tab">Edition projet</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="content">
    <h5><%= t('ware').pluralize %></h5>
    <table class="table table-hover table-striped" id="table-to-color">
      <thead class=thead-dark>
      <tr>
        <th><%= t('ware_name') %></th>
        <th><%= t('provider_name') %></th>
        <th><%= t('comment') %></th>
        <th><%= t('status') %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% unless @project.wares.any? %>
        <tr>
          <td class="emptyTable" colspan="9">Aucune données à afficher</td>
        </tr>
      <% end %>
      <% @project.wares.each do |ware| %>
        <tr data-link="<%= edit_ware_path ware %>">
          <td><%= ware.ware_name %></td>
          <td><%= ware.provider_name %></td>
          <td><%= ware.comment %></td>
          <td id="status-cell"><%= ware.status %></td>
          <td class="centerCell">
            <%= link_to ware, method: :delete, data: {confirm: t('confirm_delete')} do %>
              <%= image_tag("delete-icon.png", size: "25x25") %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <h5><%= t('service').pluralize %></h5>

    <table class="table table-hover table-striped" id="table-to-color2">
      <thead class=thead-dark>
      <tr>
        <th><%= t('Name') %></th>
        <th><%= t('comment') %></th>
        <th><%= t('status') %></th>
        <th><%= t('Date') %></th>
        <th><%= t('hourly_rate') %></th>
        <th><%= t('duration') %></th>
        <th><%= t('tva_rate') %></th>
        <th><%= t('total_cost') %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% unless @project.services.any? %>
        <tr>
          <td class="emptyTable" colspan="9">Aucune données à afficher</td>
        </tr>
      <% end %>
      <% @project.services.each do |service| %>
        <tr data-link="<%= edit_service_path service %>">
          <td><%= service.name %></td>
          <td><%= service.comment %></td>
          <td id="status-cell"><%= service.status %></td>
          <td><%= service.date %></td>
          <td><%= service.hourly_rate %></td>
          <td><%= service.duration.strftime('%H:%M') %></td>
          <td><%= service.tva_rate %></td>
          <td><%= number_with_precision service.total_cost, :precision => 2 %></td>

          <td class="centerCell">
            <%= link_to service, method: :delete, data: {confirm: t('confirm_delete')} do %>
              <%= image_tag("delete-icon.png", size: "25x25") %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h5><%= t('extra').pluralize %>   <%= link_to '+', new_project_extra_line_path, {class: 'btn btn-info', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
    </h5>

    <table class="table table-hover table-striped" id="table-to-color2">
      <thead class=thead-dark>
      <tr>
        <th><%= t('Name') %></th>
        <th><%= t('unit') %></th>
        <th><%= t('unit_price') %></th>
        <th><%= t('quantity') %></th>
        <th><%= t('total_gross') %></th>
        <th><%= t('total_cost') %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% unless @project.project_extra_lines.any? %>
        <tr>
          <td class="emptyTable" colspan="9">Aucune données à afficher</td>
        </tr>
      <% end %>
      <% @project.project_extra_lines.each do |project_extra_line| %>
        <tr data-link="<%= edit_project_extra_line_path project_extra_line%>">
          <td><%= project_extra_line.extra.name %></td>
          <td><%= project_extra_line.extra.unit %></td>
          <td><%= project_extra_line.extra.unit_price %></td>
          <td><%= project_extra_line.quantity %></td>
          <td><%= project_extra_line.total_gross %></td>
          <td><%= project_extra_line.total %></td>
          <td class="centerCell">
            <%= link_to project_extra_line, method: :delete, data: {confirm: t('confirm_delete')} do %>
              <%= image_tag("delete-icon.png", size: "25x25") %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="edit">
    <%= render 'form', project: @project %>
  </div>
</div>
