<h2 id="titleBadge"><%= t('project') %></h2>
<h4>
  <%= @project.name %> - <%= if @project.customer
                               @project.customer.name
                             end
%>
</h4>
<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" data-toggle="tab" href="#content" role="tab">Contenu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#edit" role="tab">Edition projet</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="content">
    <h5><%= t('ware').pluralize %></h5>
    <table class="table table-hover table-striped ">
      <thead class=thead-dark>
      <tr>
        <th><%= t('ware_name') %></th>
        <th><%= t('provider_name') %></th>
        <th><%= t('comment') %></th>
        <th><%= t('status') %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% unless @project.wares.any? %>
        <tr>
          <td class="emptyTable" colspan="9">Aucune données à afficher</td>
        </tr>
      <% end %>
      <% @project.wares.each do |ware| %>
        <tr data-link="<%= edit_ware_path ware %>">
          <td><%= ware.ware_name %></td>
          <td><%= ware.provider_name %></td>
          <td><%= ware.comment %></td>
          <td><%= ware.status %></td>
          <td>
            <button type="button" class="close" aria-label="Close">
              <%= link_to 'X', ware, method: :delete, data: {confirm: 'Are you sure?'} %>
            </button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <h5><%= t('service').pluralize %></h5>

    <table class="table table-hover table-striped">
      <thead class=thead-dark>
      <tr>
        <th><%= t('Name') %></th>
        <th><%= t('comment') %></th>
        <th><%= t('status') %></th>
        <th><%= t('Date') %></th>
        <th><%= t('hourly_rate') %></th>
        <th><%= t('duration') %></th>
        <th><%= t('tva_rate') %></th>
        <th><%= t('total_cost') %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @project.services.each do |service| %>
        <tr data-link="<%= edit_service_path service %>">
          <td><%= service.name %></td>
          <td><%= service.comment %></td>
          <td><%= service.status %></td>
          <td><%= service.date %></td>
          <td><%= service.hourly_rate %></td>
          <td><%= service.duration.strftime('%H:%M') %></td>
          <td><%= service.tva_rate %></td>
          <td><%= number_with_precision service.total_cost, :precision => 2 %></td>

          <td>
            <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">
            <%= link_to 'X', service, method: :delete, data: {confirm: 'Êtes-vous certain ?'} %>
          </span>
            </button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <div class="tab-pane fade" id="edit">
    <%= render 'form', project: @project %>
  </div>
</div>
