<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" data-toggle="tab" href="#wares" role="tab">Marchandises</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#services" role="tab">Prestations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#edit" role="tab">Edition projet</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="wares">

    <h5>Marchandises</h5>

    <table class="table table-hover table-striped ">
      <thead class=thead-dark>
      <tr>
        <th><%= t('Project') %></th>
        <th><%= t('Customer') %></th>
        <th><%= t('Ware name') %></th>
        <th><%= t('Provider name') %></th>
        <th><%= t('Comment') %></th>
        <th><%= t('Status') %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @project.wares.each do |ware| %>
        <tr data-link="<%= edit_ware_path ware %>">
          <td>
            <%= if ware.project
                  link_to '#' + ware.project.id.to_s, edit_project_path(ware.project.id)
                end
            %>
          </td>
          <td>
            <%= if ware.customer
                  ware.customer.name
                elsif ware.project
                  ware.project.customer.name
                end
            %>
          </td>
          <td><%= ware.ware_name %></td>
          <td><%= ware.provider_name %></td>
          <td><%= ware.comment %></td>
          <td><%= ware.status %></td>
          <td>
            <button type="button" class="close" aria-label="Close">
              <%= link_to 'X', ware, method: :delete, data: {confirm: 'Are you sure?'} %>
            </button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <div class="tab-pane fade" id="services">
    <h5>Services</h5>
    <table class="table table-hover table-striped">
      <thead class=thead-dark>
      <tr>
        <th><%= t('Project') %></th>
        <th><%= t('Name') %></th>
        <th><%= t('Comment') %></th>
        <th><%= t('Status') %></th>
        <th><%= t('Date') %></th>
        <th><%= t('Hourly rate') %></th>
        <th><%= t('Duration') %></th>
        <th><%= t('TVA rate') %></th>
        <th><%= t('Total cost') %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @project.services.each do |service| %>
        <tr data-link="<%= edit_service_path service %>">
          <td>
            <%= if service.project
                  link_to '#' + service.project.id.to_s, project_path(service.project.id)
                end
            %>
          </td>
          <td><%= service.name %></td>
          <td><%= service.comment %></td>
          <td><%= service.status %></td>
          <td><%= service.date %></td>
          <td><%= service.hourly_rate %></td>
          <td><%= service.duration.strftime('%H:%M') %></td>
          <td><%= service.tva_rate %></td>
          <td><%= number_with_precision service.total_cost, :precision => 2 %></td>

          <td>
            <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">
            <%= link_to 'X', service, method: :delete, data: {confirm: 'Êtes-vous certain ?'} %>
          </span>
            </button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="edit">
    <%= render 'form', project: @project %>
  </div>
</div>
