<div id="project-id" data-somedata="<%= @project.id %>"></div>
<div id="project-customer-id" data-somedata="<%= @project.customer.id %>"></div>
<div id="project-no-vat" data-somedata="<%= @project.no_vat %>"></div>

<div class="flex">
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">
          <%= @project.name %>
          <%= link_to edit_project_path(@project), remote: true do %>
            <button class="edit-project-button ui compact icon blue button">
              <i class="edit icon"></i>
            </button>
          <% end %>
        </div>
        <div class="meta">
          <% if @project.customer %>
            <%= @project.customer.name %>
            <%= link_to edit_customer_path(@project.customer), remote: true do %>
              <%= image_tag("edit-icon.png", size: "20x20") %>
            <% end %>
          <% end %>
          <br>
          <%= l(@project.date) %>
        </div>
        <div class="description">
          <%= @project.description %>
          <br>
        </div>
        <div class="description">
          <% if (@project.no_vat) %>
            <b> Pas de TVA </b>
          <% end %>
          <br>
        </div>
      </div>
      <div class="content center aligned">
        <div class="description">
          <%= t('PO') + ":" %>
          <%= @project.po ? @project.po : "/" %>
          <br>
          <%= t('applicant') + ":" %>
          <%= @project.applicant ? @project.applicant : "/" %>
        </div>
      </div>

      <div class="content center aligned">

        <p class="center aligned">
          <%= t('status') %>
        </p>
        <div class="color-table">
          <%= tag.div class: 'center aligned status-cell', status: @project.status do %>
            <div>
              <%= @project.translated_status %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="content">
        <div class="center aligned">
          <%= t('project_total_gross') + ' : ' + (number_with_precision @project.total_gross, :precision => 2).to_s + ' €' %>
          <br>
          <div class="total-project">
            <%= t('project_total') + ' : ' + (number_with_precision @project.total, :precision => 2).to_s + ' €' %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="center aligned">
          <%= button_to "Dupliquer le projet", {id: @project.id, action: :duplicate, controller: :projects, :method => :get}, {class: "ui olive button"} %>
        </div>
        <br>
        <div class="center aligned">
          <%= button_to project_path(@project, :format => :pdf), :method => :get, form: {target: "_blank"}, class: "ui blue labeled icon button" do %>
            Voir le devis
            <i class="file pdf icon"></i>
          <% end %>
        </div>
        <br>
        <div class="center aligned">
          <% if @project.invoice %>
            <%= button_to invoice_path(@project.invoice, :format => :pdf), :method => :get, form: {target: "_blank"}, class: "ui yellow  labeled icon button", :target => "_blank" do %>
              Voir la facture
              <i class="file pdf icon"></i>
            <% end %>
          <% else %>
            <%= button_to new_invoice_path, :method => :get, :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: "ui yellow button" do %>
              Facturer
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="project-section">
    <h3>
      <%= t('extra').pluralize.capitalize %>
    </h3>

    <table class="ui striped selectable blue table table-to-color">
      <thead class=thead-dark>
      <tr>
        <th><%= t('Name') %></th>
        <th class="center-cell"><%= t('unit') %></th>
        <th class="right-cell"><%= t('quantity') %></th>
        <th class="right-cell"><%= t('total_gross') %> (€)</th>
        <th class="right-cell"><%= t('total_cost') %> (€)</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% unless @project.project_extra_lines.any? %>
        <tr>
          <td class="center aligned" colspan="9"><%= t('no_data_display') %></td>
        </tr>
      <% end %>
      <% @project.project_extra_lines.each do |project_extra_line| %>
        <% if project_extra_line.is_manual %>
          <tr>
            <td>
              <%= project_extra_line.manual_name %>
            </td>
            <td class="center-cell">
              <%= project_extra_line.unit %>
            </td>
            <td class="right-cell">
              <%= project_extra_line.quantity %>
            </td>
            <td class="right-cell total-cell">
              <%= number_with_precision project_extra_line.total_gross, :precision => 2 %>
            </td>
            <td class="right-cell total-cell">
              <%= number_with_precision project_extra_line.total, :precision => 2 %>
            </td>
            <td class="buttons-cell center-cell">
              <%= link_to "project_extra_lines/edit_manual/" + project_extra_line.id.to_s, remote: true do %>
                <%= image_tag("edit-icon.png", size: "30x30") %>
              <% end %>
              <%= link_to project_extra_line, method: :delete, data: {confirm: t('confirm_delete')} do %>
                <%= image_tag("delete-icon.png", size: "30x30") %>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td>
              <%= project_extra_line.extra.name %>
            </td>
            <td class="center-cell">
              <%= project_extra_line.extra.unit %>
            </td>
            <td class="right-cell">
              <%= project_extra_line.quantity %>
            </td>
            <td class="right-cell total-cell">
              <%= number_with_precision project_extra_line.total_gross, :precision => 2 %>
            </td>
            <td class="right-cell total-cell">
              <%= number_with_precision project_extra_line.total, :precision => 2 %>
            </td>
            <td class="buttons-cell center-cell">
              <%= link_to edit_project_extra_line_path(project_extra_line), remote: true do %>
                <%= image_tag("edit-icon.png", size: "30x30") %>
              <% end %>
              <%= link_to project_extra_line, method: :delete, data: {confirm: t('confirm_delete')} do %>
                <%= image_tag("delete-icon.png", size: "30x30") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="9">
          <%= link_to(new_project_extra_line_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do %>
            <button class="ui blue compact labeled icon button">
              Ajouter un article
              <i class="plus icon"></i>
            </button>
          <% end %>
          <br>
          <br>
          <%= link_to("project_extra_lines/new_manual", :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window') do %>
            <button class="ui teal compact labeled icon button">
              Ajouter un article (manuel)
              <i class="plus icon"></i>
            </button>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>

