<div class="header-project">
  <table>
    <tr>
      <td>
        <%= link_to t('create_new_payment'), new_payment_path, {class: 'btn btn-success', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
      </td>
      <td>
        <h2 id="titleBadge" display=<%= controller_name %>>
          <%= t(controller_name).to_s %>
        </h2>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
<hr>
<%= search_form_for @search do |form| %>
  <div class="form">
    <div class="row">
      <h5> <%= form.label t('filtres') %> </h5>
    </div>
  </div>
<% end %>

<table class="table table-hover table-striped" id="table-to-color">
  <thead class=thead-dark>
  <tr>
    <th>
      <%= sort_link(@search, :customer_id, t('customer')) %>
    </th>
    <th class="center-cell">
      <%= sort_link(@search, :date, t('date_locale')) %>
    </th>
    <th>
      <%= sort_link(@search, :reference, t('payment_reference')) %>
    </th>
    <th>
      <%= sort_link(@search, :total, t('total').to_s + ' (€)') %>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% unless @payments.any? %>
    <tr>
      <td class="emptyTable" colspan="9">Aucune données à afficher</td>
    </tr>
  <% end %>
  <% @payments.each do |payment| %>
    <tr>
      <td>
        <%= payment.customer ? payment.customer.name : '' %>
      </td>
      <td class="center-cell"><%= l(payment.date) %></td>
      <td><%= payment.reference %></td>
      <td><%= number_with_precision payment.total, :precision => 2 %></td>
      <td class="center-cell">
        <%= link_to edit_payment_path(payment), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to payment, method: :delete, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<div class="flickr_pagination">
  <%= will_paginate @payments %>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>