<%= search_form_for @search do |form| %>
  <div class="ui form">
    <div class="four fields">
      <div class="two wide field add-button">
        <%= link_to t('create_new_payment'), new_payment_path, {class: 'ui green button', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
      </div>
    </div>
  </div>
<% end %>

<table class="ui striped selectable green table table-to-color">
  <thead class=thead-dark>
  <tr>
    <th>
      <%= sort_link(@search, :customer_id, t('customer')) %>
    </th>
    <th class="center aligned">
      <%= sort_link(@search, :date, t('date_locale')) %>
    </th>
    <th>
      <%= sort_link(@search, :reference, t('payment_reference')) %>
    </th>
    <th>
      <%= sort_link(@search, :total, t('total').to_s + ' (€)') %>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% unless @payments.any? %>
    <tr>
      <td class="center aligned" colspan="9"><%= t('no_data_display') %></td>
    </tr>
  <% end %>
  <% @payments.each do |payment| %>
    <tr>
      <td>
        <%= payment.customer ? payment.customer.name : '' %>
      </td>
      <td class="center aligned">
        <%= l(payment.date) %>
      </td>
      <td><%= payment.reference %></td>
      <td><%= number_with_precision payment.total, :precision => 2 %></td>
      <td class="center aligned">
        <%= link_to edit_payment_path(payment), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to payment, method: :delete, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @payments %>

<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>
