<h2 id="titleBadge"><%= t('ware').pluralize %></h2>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" data-toggle="tab" href="#listing" role="tab">Listing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#new" role="tab">Nouvelle marchandise</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="listing">
    <%= search_form_for @search do |form| %>
      <div class="form">
        <div class="row">
          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-2">
            <%= form.label t('project')%>
            <%= form.collection_select :project_id_eq, Project.all, :id, :name, {:include_blank => true}, class: 'form-control', onchange: 'this.form.submit();' %>
          </div>
          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-2">
            <%= form.label t('customer') %>
            <%= form.collection_select :customer_id_or_project_customer_id_eq, Customer.all, :id, :name, {:include_blank => true}, class: 'form-control', onchange: 'this.form.submit();' %>
          </div>
          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-2">
            <%= form.label t('status') %>
            <%= form.select :status_eq, Ware.statuses.map {|status| [status[0], status[1].to_i]}, {:include_blank => true}, class: 'form-control', onchange: 'this.form.submit();' %>
          </div>
        </div>
      </div>
    <% end %>

    <table class="table table-hover table-striped"  id="table-to-color">
      <thead class=thead-dark>
      <tr>
        <th><%= t(:project).capitalize %></th>
        <th><%= t('customer').capitalize %></th>
        <th><%= t('ware_name') %></th>
        <th><%= t('provider_name') %></th>
        <th><%= t('comment') %></th>
        <th><%= t('status') %></th>
        <!--      <th><%#= t('Provider discount') %></th>-->
        <!--      <th><%#= t('Margin') %></th>-->
        <!--      <th><%#= t('Quantity') %></th>-->
        <!--      <th><%#= t('Unit price') %></th>-->
        <!--      <th><%#= t('TVA rate') %></th>-->
        <!--      <th><%#= t('Total cost') %></th>-->
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @wares.each do |ware| %>
        <tr data-link="<%= edit_ware_path ware %>">
          <td>
            <%= ware.project ? (link_to '#' + ware.project.id.to_s, edit_project_path(ware.project.id)) : '' %>
          </td>
          <td>
            <%= # noinspection RubyNestedTernaryOperatorsInspection
                ware.customer ? ware.customer.name : (ware.project ? ware.project.customer.name : '') %>
          </td>
          <td><%= ware.ware_name %></td>
          <td><%= ware.provider_name %></td>
          <td><%= ware.comment %></td>
          <td id="status-cell"><%= ware.status %></td>
          <!--        <td><%#= ware.provider_discount %></td>-->
          <!--        <td><%#= ware.margin %></td>-->
          <!--        <td><%#= ware.quantity %></td>-->
          <!--        <td><%#= ware.unit_price %></td>-->
          <!--        <td><%#= ware.tva_rate %></td>-->
          <!--        <td><%#= ware.total_cost %></td>-->
          <td>
            <%= link_to ware, method: :delete, data: {confirm: t('confirm_delete')} do %>
              <%= image_tag("delete-icon.png", size: "30x30") %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="new">
    <%= render 'wares/new' %>
  </div>
</div>
