<p id="notice"><%= notice %></p>

<h2><%= t('Wares') %></h2>

<%= render 'wares/new' %>

<h5>Listing</h5>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col"><%= t('Project') %></th>
    <th scope="col"><%= t('Invoice') %></th>
    <th scope="col"><%= t('Customer') %></th>
    <th scope="col"><%= t('Quotation') %></th>
    <th scope="col"><%= t('Name') %></th>
    <th scope="col"><%= t('Comment') %></th>
    <th scope="col"><%= t('Quantity') %></th>
    <th scope="col"><%= t('Provider discount') %></th>
    <th scope="col"><%= t('Margin') %></th>
    <th scope="col"><%= t('Unit price') %></th>
    <th scope="col"><%= t('Status') %></th>
    <th scope="col"><%= t('TVA rate') %></th>
    <th scope="col"><%= t('Total cost') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @wares.each do |ware| %>
    <tr data-link="<%= edit_ware_path ware %>">
      <td><%= if ware.project
                link_to '#' + ware.project.id.to_s, project_path(ware.project.id)
              end %></td>
      <td><%= ware.invoice %></td>
      <td>
        <%= if ware.customer
              ware.customer.name
            elsif ware.project
              ware.project.customer.name
            end
        %>
      </td>
      <td><%= ware.quotation %></td>
      <td><%= ware.name %></td>
      <td><%= ware.comment %></td>
      <td><%= ware.quantity %></td>
      <td><%= ware.provider_discount %></td>
      <td><%= ware.margin %></td>
      <td><%= ware.unit_price %></td>
      <td><%= ware.status %></td>
      <td><%= ware.tva_rate %></td>
      <td><%= ware.total_cost %></td>
      <td>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">
            <%= link_to 'X', ware, method: :delete, data: {confirm: 'Are you sure?'} %>
          </span>
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

