
<h2><%= t('Wares') %></h2>

<%= render 'wares/new' %>

<h5>Listing</h5>

<table class="table table-hover table-striped">
  <thead class=thead-dark>
  <tr>
    <th><%= t('Project') %></th>
    <th><%= t('Invoice') %></th>
    <th><%= t('Customer') %></th>
    <th><%= t('Quotation') %></th>
    <th><%= t('Name') %></th>
    <th><%= t('Comment') %></th>
    <th><%= t('Status') %></th>
    <th><%= t('Provider discount') %></th>
    <th><%= t('Margin') %></th>
    <th><%= t('Quantity') %></th>
    <th><%= t('Unit price') %></th>
    <th><%= t('TVA rate') %></th>
    <th><%= t('Total cost') %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @wares.each do |ware| %>
    <tr data-link="<%= edit_ware_path ware %>">
      <td>
        <%= if ware.project
              link_to '#' + ware.project.id.to_s, edit_project_path(ware.project.id)
            end
        %>
      </td>
      <td><%= ware.invoice %></td>
      <td>
        <%= if ware.customer
              ware.customer.name
            elsif ware.project
              ware.project.customer.name
            end
        %>
      </td>
      <td><%= ware.quotation %></td>
      <td><%= ware.name %></td>
      <td><%= ware.comment %></td>
      <td><%= ware.status %></td>
      <td><%= ware.provider_discount %></td>
      <td><%= ware.margin %></td>
      <td><%= ware.quantity %></td>
      <td><%= ware.unit_price %></td>
      <td><%= ware.tva_rate %></td>
      <td><%= ware.total_cost %></td>
      <td>
        <button type="button" class="close" aria-label="Close">
            <%= link_to 'X', ware, method: :delete, data: {confirm: 'Are you sure?'} %>
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

