<%= search_form_for @search do |form| %>
  <div class="ui form">
    <div class="four fields">
      <div class="two wide field add-button">
        <%= link_to t('create_new_extra'), new_extra_path, {class: 'ui brown button', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
      </div>
    </div>
  </div>
<% end %>

<table class="ui striped selectable brown table table-to-color">
  <thead class=thead-dark>
  <tr>
    <th>
      <%= sort_link(@search, :name, t('extra_name')) %>
    </th>
    <th class="center aligned">
      <%= sort_link(@search, :category, t('category')) %>
    </th>
    <th class="center aligned">
      <%= sort_link(@search, :unit, t('unit')) %>
    </th>
    <th class="right aligned">
      <%= sort_link(@search, :unit_price, t('unit_price')) %>
    </th>
    <th class="right aligned">
      <%= sort_link(@search, :tva_rate, t('tva_rate')) %>
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% unless @extras.any? %>
    <tr>
      <td class="center aligned" colspan="9"><%= t('no_data_display') %></td>
    </tr>
  <% end %>
  <% @extras.each do |extra| %>
    <tr>
      <td>
        <%= extra.name %>
      </td>
      <td class="center aligned">
        <%= extra.category %>
      </td>
      <td class="center aligned">
        <%= extra.unit %>
      </td>
      <td class="right aligned">
        <%= extra.unit_price %>
      </td>
      <td class="right aligned">
        <%= extra.tva_rate %>
      </td>
      <td class="center aligned">
        <%= link_to edit_extra_path(extra), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to extra, method: :delete, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @extras %>

<div id="modal-window" class="ui modal">
  <div class="content">
  </div>
</div>
