<div class="header-project">
  <table>
    <tr>
      <td>
        <%= link_to t('create_new_extra'), new_extra_path, {class: 'btn btn-success', :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'} %>
      </td>
      <td>
        <h2 id="titleBadge" display=<%= controller_name %>>
          <%= t(controller_name).to_s %>
        </h2>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
<hr>
<%= search_form_for @search do |form| %>
  <div class="form">
    <div class="row">
      <h5> <%= form.label t('filtres') %> </h5>
    </div>
  </div>
<% end %>

<table class="table table-hover table-striped" id="table-to-color">
  <thead class=thead-dark>

  <tr>
    <th>
      <%= sort_link(@search, :name, t('extra_name')) %>
    </th>
    <th>
      <%= sort_link(@search, :category, t('category')) %>
    </th>
    <th>
      <%= sort_link(@search, :unit, t('unit')) %>
    </th>
    <th>
      <%= sort_link(@search, :unit_price, t('unit_price')) %>
    </th>
    <th>
      <%= sort_link(@search, :tva_rate, t('tva_rate')) %>
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @extras.each do |extra| %>
    <tr>
      <td><%= extra.name %></td>
      <td><%= extra.category %></td>
      <td><%= extra.unit %></td>
      <td><%= extra.unit_price %></td>
      <td><%= extra.tva_rate %></td>
      <td class="center-cell">
        <%= link_to edit_extra_path(extra), remote: true do %>
          <%= image_tag("edit-icon.png", size: "30x30") %>
        <% end %>
        <%= link_to extra, method: :delete, data: {confirm: t('confirm_delete')} do %>
          <%= image_tag("delete-icon.png", size: "30x30") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
  <hr>
  <%= will_paginate @extras %>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>