<!DOCTYPE html>
<html>
<head>
  <title><%= company.short_name %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type => 'image/png' %>
</head>

<div class="ui inverted attached menu">
  <a class="item" href="/projects" id="logo">
    <%= image_tag('plusview.png') %>
    <%= company.short_name.upcase %>
  </a>

  <div class="menu">
    <% if current_user %>
      <%= content_tag :div, class: "locale", data: {locale: current_user.locale} do %>
      <% end %>

      <a class="blue item" href="/projects"> <%= t('quotations').capitalize %> </a>

      <a class="teal item" href="/invoices"> <%= t('invoices').capitalize %> </a>

      <a class="violet item" href="/customers"> <%= t('customers').capitalize %> </a>

      <a class="brown item" href="/extras"> <%= t('extras').capitalize %> </a>
    <% end %>
  </div>

  <div class="right menu">

    <%= link_to t('FR'), {:controller => '/application', :action => 'change_locale', :id => 'fr'}, class: "item" %>

    <%= link_to t('EN'), {:controller => '/application', :action => 'change_locale', :id => 'en'}, class: "item" %>

    <%= link_to(t('logout'), destroy_user_session_path, method: :delete, class: "item logout-button") %>
  </div>

</div>

<% if notice %>
  <div id="notice" class="ui success floating message">
    <div class="header">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div id="notice" class="ui negative floating message">
    <div class="header">
      <%= alert %>
    </div>
  </div>
<% end %>

<body>

<div class="content" id="primary-content">
  <%= yield %>
</div>

</body>
</html>


